html {
    font-size: 80%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

/* NAV */
nav {
    background-color: #555;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 1.25rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* MAIN */
main {
    min-height: calc(100vh - 8rem);
    margin: 0 .5rem;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    padding: 1.5rem;
    text-align: center;
    max-height: 4rem;
}

footer a {
    color: #8a56b3; /* color para el enlace en el footer */
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer li {
    margin: 0 1.25rem;
}